.section-8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sec-8{
        width: 86%;
        height: 200px;
   
        display: flex;
        justify-content: space-between;
        align-items: center;

.div1{
width: 15.5%;
height: 110px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(168, 168, 168);
}










    }
}