.section-4{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    


.sec-top1{
    width: 86%;
    height: 240px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  
  

    .top{
        width: 31%;
        height: 240px;
        background-color: rgb(255, 255, 255);
        position: relative;
        // &:hover{
        //     img{
        //        width: 105%;
   
        //     }}

    img{
        width: 100%;
    }

    .top1{
        width: 25%;
        height: 83px;
        background-color: #111111;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        z-index: 1;
        left: 63px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
            font-size: 22px;
            color: white
             
        }
    }

.top11{
    width: 65%;
    height: 58px;
    background-color: #FBD232;
    position: absolute;
    left: 126px;
bottom: 0px;

h1{
    
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    padding-right: 15px;
}
}

    }

























    .center{
        width: 31%;
        height: 240px;
        position: relative;
    
        img{
            width: 100%;
        }

        .center1{
            width: 25%;
            height: 83px;
            background-color: #111111;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            position: absolute;
            z-index: 1;
            left: 63px;
            bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
                i{
                    font-size: 22px;
                    color: white
                     
                }
            
        }

        
.center11{
    width: 65%;
    height: 58px;
    background-color: #FBD232;
    position: absolute;
    left: 126px;
bottom: 0px;

h1{
    
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    padding-right: 15px;
}
}
    }










    .button{
        width: 31%;
        height: 240px;
        background-color: rgb(255, 255, 255);
        position: relative;

    img{
        width: 100%;
    }

    .button1{
        width: 25%;
        height: 83px;
        background-color: #111111;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        z-index: 1;
        left: 63px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
            font-size: 22px;
            color: white
             
        }
    }

.button11{
    width: 65%;
    height: 58px;
    background-color: #FBD232;
    position: absolute;
    left: 126px;
bottom: 0px;

h1{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    padding-right: 15px;
}
}

    }
}









 







.sec-bottom1{
    width: 86%;
    height: 240px;
    margin-top:20px;
display: flex;
justify-content: space-between;


  

    .left{
        width: 31%;
        height: 240px;
        background-color: rgb(255, 255, 255);
        position: relative;

    img{
        width: 100%;
    }

    .left1{
        width: 25%;
        height: 83px;
        background-color: #111111;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        z-index: 1;
        left: 63px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
            font-size: 22px;
            color: white
             
        }
    }

.left11{
    width: 65%;
    height: 58px;
    background-color: #FBD232;
    position: absolute;
    left: 126px;
bottom: 0px;

h1{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    padding-right: 15px;
}
}

    }

























    .senter{
        width: 31%;
        height: 240px;
 
            position: relative;
    
        img{
            width: 100%;
        }

        .senter1{
            width: 25%;
            height: 83px;
            background-color: #111111;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            position: absolute;
            z-index: 1;
            left: 63px;
            bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            i{
                font-size: 22px;
                color: white
                 
            }
        }

        
.senter11{
    width: 65%;
    height: 58px;
    background-color: #FBD232;
    position: absolute;
    left: 126px;
bottom: 0px;

h1{
   
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    padding-right: 15px;
}
}
    }










    .right{
        width: 31%;
        height: 240px;
        background-color: rgb(255, 255, 255);
        position: relative;

    img{
        width: 100%;
    }

    .right1{
        width: 25%;
        height: 83px;
        background-color: #111111;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        z-index: 1;
        left: 63px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
            font-size: 22px;
            color: white
             
        }
    }

.right11{
    width: 65%;
    height: 58px;
    background-color: #FBD232;
    position: absolute;
    left: 126px;
bottom: 0px;

h1{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding-top: 18px;
    padding-right: 15px;
}
}

    }
}














}
